@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Manrope:wght@200&display=swap");
body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 120px;
}
.container::after {
  content: "";
  display: block;
  position: absolute;
  right: 5px;
  top: -3px;
  width: 40px;
  height: 35px;
  filter: blur(5px);
  background: white;
  z-index: 1;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.tags {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.tags-slider {
  max-width: 1080px;
  margin: 0 auto;
  overflow-x: auto;
  position: relative;
}
.tags-slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.tags__btn {
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #676F8F;
  margin-left: -3px;
  letter-spacing: 0.3px;
}
.tags__btn:hover {
  color: #4545F5;
}
.tags .line::after {
  content: "|";
  color: #D9DBE3;
  font-size: 22px;
  margin-left: 21px;
  bottom: 3px;
}
.tags-arrow {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 2;
}
.tags-arrow_left {
  display: none;
  position: absolute;
  top: 6px;
  right: 18px;
  z-index: 2;
}

.card {
  max-width: 520px;
  margin-right: 25px;
  border: 1.5px solid #EEF0F6;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.card__content {
  padding: 24px 32px 0;
}
.card__banner {
  height: 244px;
  border-radius: 7px 7px 0px 0px;
}
.card__tags {
  display: flex;
  align-items: center;
}
.card__tag {
  border-radius: 20px;
  padding: 0 12px;
  font-size: 14px;
  height: 28px;
  margin-right: 8px;
  letter-spacing: 0.3px;
}
.card__tag_first {
  background: #CDF1DA;
  color: #00A338;
  opacity: 0.8;
}
.card__tag_first:hover {
  opacity: 1;
}
.card__tag_second {
  background: #D0D0FD;
  opacity: 0.8;
  color: #4545F5;
}
.card__tag_second:hover {
  opacity: 1;
}
.card__time {
  color: #B3B7C7;
  font-size: 14px;
  font-weight: 500;
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author__left {
  display: flex;
  margin-top: 10px;
}
.author__text {
  font-size: 16px;
  line-height: 10px;
  margin-left: 12px;
}
.author__title {
  font-size: 14px;
  color: #676F8F;
}
.author__sircle {
  border-radius: 50%;
  height: 56px;
  width: 56px;
}
.author__link {
  color: #4545F5;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  margin: 33px 18px 0 0;
}
.author__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: -15px;
  width: 8px;
  height: 12px;
  background: url("img/arrow2.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/*slider*/
.card-section {
  width: 1080px;
  margin: 0 auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 33px;
  min-height: 524px;
}

.card-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slider {
  display: flex;
}
.slider__arrows {
  width: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__counter {
  color: #B3B7C7;
  font-size: 14px;
}
.slider__left {
  stroke: #C7C8D4;
}
.slider__left-icon:hover {
  stroke: #4545F5;
}

.blue {
  background: #E4F8FF;
  color: #00A3DE;
}

.active {
  color: #4545F5;
}

.selected {
  opacity: 1;
}

.item {
  width: 526px;
  flex: 1 0 526px;
}

.left,
.right {
  position: absolute;
  left: 0;
  top: 50%;
  background: none;
  border: none;
  padding: 0;
}

.right {
  left: unset;
  right: 0;
}

.left svg,
.right svg {
  display: block;
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 768px) {
  .tags-slider {
    max-width: 740px;
  }
  .tags-arrow {
    right: 12px;
  }
  .card-section {
    width: auto;
  }
  .item {
    width: 345px;
    flex: 1 0 345px;
  }
  .slider {
    margin: 0 20px;
  }
  .slider__arrows {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 426px) {
  .card {
    width: 318px;
    margin-bottom: 35px;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card__title {
    font-size: 18px;
    height: 90px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin: 3px 0 0;
  }
  .card__tags {
    overflow: scroll;
    min-width: 360px;
  }
  .card__container {
    overflow: scroll;
  }
  .card__content {
    padding: 17px 20px 20px 20px;
  }
  .card__banner {
    height: 160px;
  }
  .card__tag {
    margin-right: 12px;
    white-space: nowrap;
  }
  .card__time {
    white-space: nowrap;
  }
  .card-section {
    width: 320px;
    margin-top: 26px;
    min-height: 475px;
  }
  .item {
    flex: 1 0 322px;
  }
  .slider {
    margin: 0;
  }
  .slider__arrows {
    width: 325px;
    margin: 0 auto 60px;
  }
  .container {
    margin-top: 60px;
  }
  .container::after {
    width: 60px;
    right: -5px;
    top: -3px;
    filter: blur(4px);
  }
  .tags__btn {
    margin-right: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .tags-slider {
    margin: 0 20px;
  }
  .tags-arrow {
    right: 25px;
  }
  .tags-arrow_left {
    top: 6px;
    right: 40px;
  }
  .tags .line::after {
    margin-left: 28px;
  }
  .active {
    font-weight: 600;
  }
  .author {
    flex-direction: column;
    align-items: flex-start;
  }
  .author__link {
    margin: 0;
    padding-top: 18px;
  }
  .author__link::after {
    top: 21px;
  }
  .author__left {
    margin-top: 0;
    align-items: center;
  }
  .author__sircle {
    height: 48px;
    width: 48px;
  }
  .author__text {
    margin-left: 5px;
  }
}/*# sourceMappingURL=style.css.map */