@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Manrope:wght@200&display=swap');

body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}
.container {
   position: relative;
   max-width: 1080px;
   margin: 0 auto;
   margin-top: 120px;
   &::after {
      content: "";
      display: block;
      position: absolute;
      right: 5px;
      top: -3px;
      width: 40px;
      height: 35px;
      filter: blur(5px);
      background: white;
      z-index: 1;
   }
}

button {
   border: none;
   cursor: pointer;
   background: none;
}

.tags {
    display: flex;
    width: 1200px;
    margin: 0 auto;  
    position: relative;
    &-slider {
      max-width: 1080px;
      margin: 0 auto;
      overflow-x: auto;
      position: relative;
      &::-webkit-scrollbar {
         width: 0;
         height: 0;
      }
    }
    
    &__btn {
        text-decoration: none;
        margin-right: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #676F8F;
        margin-left: -3px;
        letter-spacing: 0.3px;

        &:hover {
            color: #4545F5;
        }
    }
    .line {
      &::after {
         content: '|';
         color: #D9DBE3;
         font-size: 22px;
         margin-left: 21px;
         bottom: 3px;
      }
   }
   &-arrow {
      position: absolute;
      top: 6px;
      right: 0;
      z-index: 2;
      &_left {
         display: none;
         position: absolute;
         top: 6px;
         right: 18px;
         z-index: 2;
      }
   }
}

 .card {
   max-width: 520px;
   margin-right: 25px;
   border: 1.5px solid #EEF0F6;
   border-radius: 8px;
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
   &__content {
      padding: 24px 32px 0;
   }
   &__banner {
      height: 244px;
      border-radius: 7px 7px 0px 0px;
   }
   &__tags {
      display: flex;
      align-items: center;
   }
   &__tag {
      border-radius: 20px;
      padding: 0 12px;
      font-size: 14px;
      height: 28px;
      margin-right: 8px;
      letter-spacing: 0.3px;
      &_first {
         background: #CDF1DA;
         color: #00A338;
         opacity: 0.8;
         &:hover {
            opacity: 1;
         }
      }
      &_second {
         background: #D0D0FD;
         opacity: 0.8;
         color: #4545F5;
         &:hover {
            opacity: 1;
         }
      }
   }
   &__time {
      color: #B3B7C7;
      font-size: 14px;
      font-weight: 500;
   }
   &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      margin-top: 0;
   }
}

.author {
   display: flex;
   align-items: center;
   justify-content: space-between;
   &__left {
      display: flex;
      margin-top: 10px;
   }
   &__text {
      font-size: 16px;
      line-height: 10px;
      margin-left: 12px;
   }
   &__title {
      font-size: 14px;
      color: #676F8F;
   }
   &__sircle {
      border-radius: 50%;
      height: 56px;
      width: 56px;
   }
   &__link {
      color: #4545F5;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
      position: relative;
      margin: 33px 18px 0  0;
      &::after {
         content:"";
         display: block;
         position: absolute;
         top: 4px;
         right: -15px;
         width: 8px;
         height: 12px;
         background: url("img/arrow2.svg");
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
}
 
/*slider*/

 .card-section {
    width: 1080px;
    margin: 0 auto;
    overflow: auto;
   -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 33px;
    min-height: 524px;
 }
 .card-section::-webkit-scrollbar {
    width: 0;
    height: 0;
}
 .slider {
   display: flex;
   &__arrows {
      width: 330px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__counter {
      color: #B3B7C7;
      font-size: 14px;
   }
   &__left {
      stroke: #C7C8D4;
      &-icon:hover {
         stroke: #4545F5;
      }
   }
 }
 .blue {
  background: #E4F8FF;
  color: #00A3DE;
 }

 .active {
   color: #4545F5;
 }
 .selected {
   opacity: 1;
 }
 .item {
    width: 526px;
    flex: 1 0 526px;
 }
 .left,
 .right {
    position: absolute;
    left: 0;
    top: 50%;
    background: none;
    border: none;
    padding: 0;
 }
 .right {
    left: unset;
    right: 0;

 }
 .left svg,
 .right svg {
    display: block;
    width: 48px;
    height: 48px;
 }

 @media only screen and (max-width: 768px) { 
   .tags-slider {
      max-width: 740px;
   }
   .tags-arrow {
      right: 12px;
   }
   .card-section {
      width: auto;
   }
   .item {
      width: 345px;
      flex: 1 0 345px;
   }
   .slider {
      margin: 0 20px;
      &__arrows {
         margin-top: 20px;
      }
   }
}

 @media only screen and (max-width: 426px) { 
    .card {
      width: 318px;
      margin-bottom: 35px;
      &:last-child {
         margin-right: 0;
      }
      &__title {
         font-size: 18px;
         height: 90px;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         overflow-y: hidden;
         margin: 3px 0 0;
      }
      &__tags {
         overflow: scroll;
         min-width: 360px;
      }
      &__container {
         overflow: scroll;
      }
      &__content {
         padding: 17px 20px 20px 20px;
      }
      &__banner {
         height: 160px;
      }
      &__tag {
         margin-right: 12px;
         white-space: nowrap;
      }
      &__time {
         white-space: nowrap;
      }
   }
   .card-section {
      width: 320px;
      margin-top: 26px;
      min-height: 475px;
   }
   .item {
      flex: 1 0 322px;
   }
   .slider {
      margin: 0;
      &__arrows {
         width: 325px;
         margin: 0 auto 60px;
      }
   }
   .container {
      margin-top: 60px;

      &::after {
         width: 60px;
         right: -5px;
         top: -3px;
         filter: blur(4px);
      }
   }
   .tags {
      &__btn {
         margin-right: 14px;
         font-weight: 500;
         font-size: 14px;
         line-height: 20px;
      }
      &-slider {
         margin: 0 20px;
      }
      &-arrow {
         right: 25px;
         &_left {
            top: 6px;
            right: 40px;
         }
      }
      .line {
         &::after {
            margin-left: 28px;
         }
      }
 }
 .active {
   font-weight: 600;
 }
 .author {
   flex-direction: column;
   align-items: flex-start;
   &__link {
      margin: 0;
      padding-top: 18px;
      &::after {
         top: 21px;
      }
   }
   &__left {
      margin-top: 0;
      align-items: center;
   }
   &__sircle {
      height: 48px;
      width: 48px;
   }
   &__text {
      margin-left: 5px;
   }
 }
}
